<html>
<head>
	<title>TESTING YELP</title>
</head>
<body>
Hi WORLD this is the locations index!!!



	<form action="/test/show" method="POST">
		<input type="text" name="zipcode" placeholder="zipcode"><br>
		<button>SUBMIT</button>
	</form>



</body>
</html>