<html>
<head>
	<title>TESTING YELP</title>
</head>
<body>
Hi WORLD this is the locations index!!!

<% for (var i = 0; i < businesses.length; i++) { %>
Business <%= i %> is: <%= businesses[i].name %>
<% } %>
</body>
</html>