<html>
<head>
	<title>TESTING YELP</title>

</head>
<body>
Hi WORLD this is the locations index!!!

<p>checks to see if usertrue: <%=usertrue%></p>

					<% if (usertrue)  { %>
						<p>add a new review</p>
						<form action="/locations/<%= location.id %>/newreview" method="POST">
							<input type="text" name="author" placeholder="name">
							<input type="text" name="best" placeholder="best donut">
							<input type="text" name="comments" placeholder="comments">
							<input type="submit">				
						</form>
					<% } %>




</body>
</html>