<html>
<head>
	<title>TESTING YELP</title>

</head>
<body>
Hi WORLD this is the locations index for 

	<h1><%= location.name %>!!!!!!</h1>

	<h3>Check out these reviews</h3>

	<ul>
		<% for (var i = 0; i < location.reviews.length; i++ ) { %>
			

	<li>Posted By: <%= location.reviews[i].author %> </li>
	<li>Best: <%= location.reviews[i].best %> </li>
	<li>Comments: <%= location.reviews[i].comments %> </li>


	<%	} %>
	</ul>

</body>
</html>