<html>
<head>
	<title>TESTING YELP</title>
</head>
<body>
Hi WORLD this is the locations index!!!



<% for (var i = 0; i < data.businesses.length; i++) { %>
Business <%= i %> is: <%= data.businesses[i].id %><br>
<% } %>
</body>
</html>