* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Karla', sans-serif;
	background-color: #FAF8FA;
}


/*******************/
/*Navigation Bar   */
/*******************/


#header-div{
	position: fixed;
	top: 0;
	width: 100%;
	display: inline-block;
	background: white;
	padding: 0.5em;
	z-index: 1;
	text-align: center;
	height: 70px;
	box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.2);
	min-width: 480px;

}

#header-div h1 {
	padding-top: 4px;
	display: inline-block;
}


#home {
	padding-right: 10%;
	display: inline-block;
	float: right;
	width: 50px;
}

#home img {
	margin-top: -46px;
	padding-right: 10%;
	display: inline-block;
	width: 50px;
}

#home a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
}

/*******************/
/* Search Section  */
/*******************/

section {
	text-align: center;
	padding-top: 15px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: papayawhip;
	padding-bottom: 22px;
	-webkit-box-shadow: -3px 3px 52px 2px rgba(153,147,153,1);
	-moz-box-shadow: -3px 3px 52px 2px rgba(153,147,153,1);
	box-shadow: -3px 3px 52px 2px rgba(153,147,153,1);

}

section form {
	text-align: center;
}

#searchbar {
	margin: 0 auto;
	width: 80%;
	height: 30px;
	max-width: 600px;

}

#submitbutton {
	height: 30px;
	background-color: black;
	color: white;
}

/*******************/
/* Review Section  */
/*******************/

main {
	padding-top: 20px;
	margin: 0 auto;
	width: 80%;
}

.reviews-container{
	margin: 0 auto;
	width: 100%;
	margin-bottom: 20px;

}

#noreviews {
	font-size: 1.5em;
	text-align: center;
	height: 600px;
}

#review-img {
	display: inline-block;
	width: 40%;
	margin-left: 8%;
	margin-bottom: 20px;
/*webkit-box-shadow: -7px 6px 52px 2px rgba(153,147,153,1);
-moz-box-shadow: -7px 6px 52px 2px rgba(153,147,153,1);
box-shadow: -7px 6px 52px 2px rgba(153,147,153,1);*/
}

#review-img img{
	display: inline-block;
	width: 100%;
	max-width: 350px;

}

#review-div{
	box-sizing: border-box;
	padding: 1em 3%;
	background-color: #FBDCA8;
	display: inline-block;
	margin-left: 25px;
	width: 40%;
	max-width: 400px;
	vertical-align:top;
	overflow: hidden;
	margin-bottom: 20px;
}

#review-div ul {
	width: 100%;
}

#bestone{
	 text-transform: uppercase;
	 font-size: 1.2em;
}

ul {
	list-style-type: none
}

li {
	margin: 5px;
}

li:last-child{
border-bottom: 1px solid black;
}

.userform {
	display: inline-block;
}

a{
	color: #673B3B;
}

a:hover {
	text-decoration: underline;
}

.userform button {
	font-weight: bold;
	width: 93%;
    border: none;
    padding: 1px 15%;
    text-align: center;
    text-decoration: none;
	background-color: #FBDCA8;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
}

.userform button:hover{
	background-color: white;
	font-weight: normal;
}


/*******************/
/*Google Maps Stuff*/
/*******************/
#map-canvas {
	height: 400px; width: 700px;
	display: inline-block;
	margin-top: 5px;
	border-radius: 15px;
}

#deletebutton {
	text-align: center;
}

/*===================*/
/* MEDIA QUERIES     */
/*===================*/

/*for devices 480px and smaller*/
@media (max-width: 480px) {
	main{
		width: 100%;
	}
	#review-div{
		padding: 0;
		height: 100px;
		font-size: 11px;
	}
	#home img {
		display: none;
	}
	home {
		float: none;
	}
}