<html>
<head>
	<title>Donut Finder</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../js/text-slider.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navigation Bar Stuff -->
	<nav>
		<ul id="nav-links">

		<!-- SHOWS only if user is LOGGED OUT -->
		<!-- SIGN iN Form -->
		<% if(!login) { %> 

			<li>
				
				<form class="signup" action="/users" method="POST">
					<span>Sign up</span>
					<input type="text" name="username" placeholder="Username">
					<input type="text" name="email" placeholder="user@email.com">
					<input type="text" name="password" placeholder="password">
					<input type="submit" value="SIGN UP">
				</form>
			</li>
			<!-- SHOWS only if user is LOGGED OUT -->
			<!-- 	LOG IN FORM -->
			<li>
				
				<form class="signup" action="/users/login" method="POST">
					<span>Log In</span>
					<input type="text" name="email" placeholder="user@email.com">
					<input type="password" name="password" placeholder="password">
					<input type="submit" value="LOG IN">
				</form>
			</li>

		<% }  else { %>

			<a href="javascript:history.back()">Back to Your Profile</a>
			<a href="/users/logout">LOGOUT</a>

		<% } %>
		</ul>
	</nav>

	<h1 align="center">Donut Logo</h1>



	<!-- This displays reviews -->
	<h3>RECENT REVIEWS: </h3>

	<div class="slide">
		<% for (var i = 0; i < review.length; i++) { %>
		 <div class="slider-item">	<%= review[i].comments%> </div>
		<% } %>
	</div>
		





			<!-- SEE IF OTHER USERS SHOW -->
				<div id="dataset-select-container">
					<p id="users-title">Users</p>
					<select id="dataset-select">
						<option value=""/>-------</option>
						<% for (var i=0; i < user.length; i ++) { %>
							<option value="<%= user[i].id %>"><%= user[i].username %></option>
						<% } %>
					</select>					
				</div>



</body>
</html>