<html>
<head>
	<title>TESTING YELP</title>
</head>
<body>
	<h1>Hi WORLD this is the USERS INDEX!!!!</h1>

	<!-- SHOWS only if user is LOGGED OUT -->
	<!-- LOGIN Form -->
	<h4>Sign up</h4>
		<form action="/users" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="email" placeholder="email">
			<input type="text" name="password" placeholder="password">
			<input type="submit">
		</form>

	<h3>My Reviews</h3>

	<p> Reviews go Here </p>


	<h3> Search for Donuts </h3>

	<form action="/test/show" method="POST">
		<input type="text" name="zipcode" placeholder="zipcode"><br>
		<button>SUBMIT</button>
	</form>



</body>
</html>