<html>
<head>
	<title>TESTING YELP</title>
</head>
<body>
	<h1>Hi WORLD this is the USERS INDEX!!!!</h1>

	<!-- SHOWS only if user is LOGGED OUT -->
	<!-- SIGN iN Form -->
	<h4>New Users: Sign up</h4>
		<form action="/users" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="email" placeholder="email">
			<input type="text" name="password" placeholder="password">
			<input type="submit">
		</form>

	<!-- SHOWS only if user is LOGGED OUT -->
	<!-- 	LOG IN FORM -->
	<h4>Log In</h4>
		<form action="/users/login" method="POST">
			<input type="text" name="email" placeholder="e-mail address">
			<input type="password" name="password" placeholder="password">
			<button>Log In</button>
		</form>



	<h3>My Reviews</h3>

	<p> Reviews go Here </p>


	<h3> Search for Donuts </h3>

	<form action="/test/show" method="POST">
		<input type="text" name="zipcode" placeholder="zipcode"><br>
		<button>SUBMIT</button>
	</form>



</body>
</html>