<html>
<head>
	<title>TESTING YELP</title>
</head>
<body>
Hi WORLD this is the USER SHOW PAGE!! 



	<form action="/locations" method="POST">
		<input type="text" name="zipcode" placeholder="zipcode"><br>
		<button>SUBMIT</button>
	</form>

	<a href="/users">Return Home</a>

</body>
</html>